:root, body{
    --primarycolor: rgb(0, 0, 0);
    --primarylightcolor: rgb(211, 211, 211);
    --secondarycolor: rgb(180, 0, 0);
    background-color: var(--primarycolor);
    color: var(--primarylightcolor);
    font-family: Arial, Helvetica, sans-serif;
}
/* Hero image */
.heroimg{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/heroimg.jpg");
height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position:static;
}
.titlebg{
    /*background: none !important;*/
    /*color: var(--secondarycolor);*/
    -webkit-text-stroke: .25px var(--primarylightcolor);
    background-image: linear-gradient(to top,var(--primarycolor),var(--secondarycolor));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.elitetraining{
    color: var(--primarylightcolor) !important;
    background-color: var(--primarycolor) !important;
    text-align: left;
    padding: 5%;
}
.choosemayo h1{
    text-align: center;
    font-weight: bolder;
}
.mayomma{
    color: var(--secondarycolor);
    background-color: var(--primarycolor);
    font-weight: lighter !important;
    border: solid 1px var(--primarycolor);
    padding: 1%;
}
.choosemayo{
    color: var(--primarycolor) !important;
    background-color: var(--primarylightcolor) !important;
    text-align: left;
    padding: 5%;
    font-size: larger;
}
/* Cards */
.amazingclasses h1{
    text-align: center;
}
.amazingclasses{
    color: var(--primarylightcolor) !important;
    background-color: var(--primarycolor) !important;
    text-align: left;
    padding: 5%;
}

/* Cards Bootstrap */
.classcards{
  display: flex;
  gap: 1%;
  margin: 1%;
  justify-content: space-evenly;
  justify-items: 4fr 4fr 4fr;
}
.card{
  width: 18rem;
  
}
/*Slideshow container*/

/* footer */
.contact{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
    padding: 2%;
    background-color: var(--primarycolor);
    color: var(--primarylightcolor);
}
.bottomnav ul, .contactinfo ul{
  list-style-type: none;
}
.bottomnav li, .contactinfo li{
  padding-bottom: 5%;
}
.bottomnav a, .contactinfo a{
  color: var(--primarylightcolor);
  text-decoration: none;
  font-weight: bold;
}
.bottomnav a:hover, .contactinfo a:hover{
  color: var(--secondarycolor);
  background-color: var(--primarylightcolor);
  transition: 1ms;
}
.contactinfo, .socials{
    width: 50%;
    float:left
}
.socials img{
    height: 50px;
}
.trademark{
    color: var(--primarylightcolor);
    background-color: var(--secondarycolor);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: var(--primarycolor);
  position: fixed;
  top: 10px;
  width: 100%;
  }
  .navbar li {
  float: left;
  }
  .navbar li a {
  display: block;
  color: var(--primarylightcolor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  .navbar li a:hover:not(.active) {
  background-color: var(--primarycolor);
  }
  .navbar .active {
  background-color: var(--secondarycolor);
  }
