*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
.square_circle{
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: ease-in-out 800ms;
}
.square_circle:hover{
    border-radius: 50%;
    background-color: aqua;
}
/* zoom effect */
.zoomcontainer{
    width: 500px;
    position: relative;
}
.zoomcontent{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(50, 50, 50, .7);
    text-align: center;
    padding-top: 30%;
    color: white;
    font-size: 3em;
    transform: scale(0);
    transition: ease-in-out 1s;
}
.zoomcontainer:hover .zoomcontent{
    transform: scale(1);
}
.slidecontainer{
    overflow: hidden;
}
.slidecontent{
    transform: translateX(500px);
}
.slidecontainer:hover .slidecontent{
    transform: translateX(0px);
}
.card, .cardslide{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
    transition: ease-in-out 500ms;
    margin: 30px;
}
.card:hover{
    transform: scale(-.75);
    box-shadow: 5px 5px 5px greenyellow;
}
.cardslide:hover{
    transform: translateY(-10px) scale(1.1);
    box-shadow: 3px 3px 3px pink;
}
/* flex container */
.flexcontainer{
    background-color: lightcoral;
    display: flex; /* to display cards in one row */
    flex-wrap: wrap; /* to keep card size the same in different screen sizes */
    justify-content: space-evenly; /* tells how to distribute the cards in a row */
    align-items: flex-end; /* goes together w/ align-content to work */
    align-content: space-between;
}
.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto; /* use auto for auto division and fr to choose a fraction of the row or px to display card */
    gap: 10px;
    background-color: bisque;
    padding: 1%;
}
.item{
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
